* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #000000;
}

.clock {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  color: #ff0000;
  font-size: 3rem;
  letter-spacing: 1vw;
}