.clock-dial {
    width: 15.625rem; /* 250px */
    height: 15.625rem; /* 250px */
    border: 0.625rem solid #ff0000; /* 10px */
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    padding: 123px;
}

.point {
    width: 0.625rem; /* 10px */
    height: 0.625rem; /* 10px */
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
    top: 7.5rem; /* 120px */
    left: 7.5rem; /* 120px */
}

.hour {
    font-size: 0.9375rem; /* 15px */
    font-weight: bold;
    color: #372c2e;
    position: absolute
}

.hour-1 {
    top: 1.25rem; /* 20px */
    right: 4.0625rem; /* 65px */
}
.hour-2 {
    top: 3.90625rem; /* 62.5px */
    right: 1.40625rem; /* 22.5px */
}
.hour-3 {
    top: 7.34375rem; /* 117.5px */
    right: 0.3125rem; /* 5px */
}
.hour-4 {
    top: 10.78125rem; /* 172.5px */
    right: 1.40625rem; /* 22.5px */
}
.hour-5 {
    top: 13.4375rem; /* 215px */
    right: 4.0625rem; /* 65px */
}
.hour-6 {
    bottom: 0.3125rem; /* 5px */
    left: 7.5rem; /* 120px */
}
.hour-7 {
    top: 13.4375rem; /* 215px */
    left: 4.0625rem; /* 65px */
}
.hour-8 {
    top: 10.78125rem; /* 172.5px */
    left: 1.40625rem; /* 22.5px */
}
.hour-9 {
    top: 7.34375rem; /* 117.5px */
    left: 0.3125rem; /* 5px */
}
.hour-10 {
    top: 3.90625rem; /* 62.5px */
    left: 1.40625rem; /* 22.5px */
}
.hour-11 {
    top: 1.25rem; /* 20px */
    left: 4.0625rem; /* 65px */
}
.hour-12 {
    top: 0.3125rem; /* 5px */
    left: 7.34375rem; /* 117.5px */
}

.brand {
    font-size: 0.625rem; /* 10px */
    font-weight: bold;
    color: #000000;
    position: absolute;
    top: 2.8125rem; /* 45px */
    left: 42.5%;
}

.minute-hand-wrapper {
    width: 12.5rem; /* 200px */
    height: 12.5rem; /* 200px */
    position: absolute;
    top: 1.5625rem; /* 25px */
    left: 1.5625rem; /* 25px */
    border-radius: 50%;
}

.minute-hand {
    position: relative;
}

.minute-hand .hand {
    width: 0.125rem; /* 2px */
    height: 6.25rem; /* 100px */
    background-color: #000000;
    position: absolute;
    left: 6.1875rem; /* 99px */
}

.minute-hand .arrow {
    font-size: 0.9375rem; /* 15px */
    font-weight: bold;
    color: #000000;
    transform: rotate(180deg);
    position: absolute;
    left: 5.9375rem; /* 95px */
    top: -0.21875rem; /* -3.5px */
}

.hour-hand-wrapper {
    width: 9.375rem; /* 150px */
    height: 9.375rem; /* 150px */
    position: absolute;
    top: 3.125rem; /* 50px */
    left: 3.125rem; /* 50px */
    border-radius: 50%;
}

.hour-hand {
    position: relative;
}

.hour-hand .hand {
    width: 0.125rem; /* 2px */
    height: 4.6875rem; /* 75px */
    background-color: #000000;
    position: absolute;
    left: 4.625rem; /* 74px */
}

.hour-hand .arrow {
    font-size: 0.9375rem; /* 15px */
    font-weight: bold;
    color: #000000;
    transform: rotate(180deg);
    position: absolute;
    left: 4.375rem; /* 70px */
    top: -0.21875rem; /* -3.5px */
}

.second-hand-wrapper {
    width: 10.9375rem; /* 175px */
    height: 10.9375rem; /* 175px */
    position: absolute;
    top: 2.34375rem; /* 37.5px */
    left: 2.34375rem; /* 37.5px */
    border-radius: 50%;
}

.second-hand {
    position: relative;
}

.second-hand .hand {
    width: 0.0625rem; /* 1px */
    height: 5.46875rem; /* 87.5px */
    background-color: #ff0000;
    position: absolute;
    left: 5.4375rem; /* 87px */
}